@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS file */
.hoverStyle {
    text-transform: uppercase;
    transition: transform 300ms ease-in-out;
}

.hoverStyle:hover {
    transform: scale(1.1);
}
.hoverStyle2 {
    text-transform: capitalize;
    transition: transform 300ms ease-in-out;
}

.hoverStyle2:hover {
    transform: scale(1.1);
}
